extends layout

block content
  
  h1 Welcome to the Jungle
  
  form(id="", method="post", action="")
    input(type="text", placeholder="Video URL")
    input(type="text", placeholder="Words (Divided by commas)")
    input(type="text", placeholder="Dominate Handshape")
