extends layout

block content
  h1 Welcome to ASL Strong API!
  p This is a video dictionary. End points are provided, and can be seen 
    a(href="https://aslstrongapi.herokuapp.com/apidoc/", target="_blank") here.
  p The front end of this app can be found 
    a(href="https://s3-us-west-2.amazonaws.com/asl-strong/index.html", target="_blank") here.
