extends layout

block content
  h1 Welcome to the API of ASL Strong!
  p This is the Api to an American Sign Language video dictionary. 
  p Anyone can use this API to create beautiful websites, or to enrich their own.
  p The Docs to see more about what this API has to offer can be found 
    a(href="https://aslstrongapi.herokuapp.com/apidoc/", target="_blank") here.
    
  p Though it will take me time, I will be creating my own Front-End app. I shall place a link here once I am done. In the mean time,&nbsp; #[a(href="https://www.youtube.com/watch?v=Rm1-jPish2k", target="_blank") this is one of my favorite interprited songs], as close to true ASL as I've seen songs get.

    
